<div class="flex items-center max-w-lg mx-auto mb-8">   
  <label class="sr-only">City name</label>
  <div class="relative w-full">
    <input
      [(ngModel)]="cityName"
      (keyup.enter)="addCity()"
      type="text" 
      class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      placeholder="City name" 
      required 
    />
  </div>
  <button 
    (click)="addCity()"
    class="whitespace-nowrap inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Add City
  </button>
</div>